<div th:fragment="detail" th:remove="tag">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading" th:text="#{ubigeo-create-title}">[Registro de Ubigeo]</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<h5>[Codigo]</h5>
						</div>
						<div class="col-xs-12">
							<div>[000]</div>
						</div>
						<div class="col-xs-12">
							<h5>[Departamento]</h5>
						</div>
						<div class="col-xs-12">
							<div>[La Libertad]</div>
						</div>
						<div class="col-xs-12">
							<h5>[Provincia]</h5>
						</div>
						<div class="col-xs-12">
							<div>[Pacasmayo]</div>
						</div>
						<div class="col-xs-12">
							<h5>[Distrito]</h5>
						</div>
						<div class="col-xs-12">
							<div>[Guadalupe]</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-xs-12 text-right">
							<a class="btn btn-info req_inj pull-left" href="ubigeo/list" th:text="#{txt-go-back}">[Atras]</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>